<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- 可配置变量 -->
	<springProperty scop="context" name="APPLICATION_NAME"
		source="spring.application.name" defaultValue="heytea" />
	<property name="ABSOLUTE_PATH"
		value="${user.home}/data/logs/${APPLICATION_NAME}/${HOSTNAME}" />
	<!-- 工程相关日志，日志级别 TRACE, DEBUG, INFO, WARN, ERROR, ALL or OFF(关闭日志输出) -->
	<variable name="CONSOLE_APPENDER_FILTER_LEVEL"
		value="${CONSOLE_APPENDER_FILTER_LEVEL:-DEBUG}" />
	<variable name="FILE_APPENDER_FILTER_LEVEL"
		value="${FILE_APPENDER_FILTER_LEVEL:-DEBUG}" />
	<variable name="APPLICATION_LOG_LEVEL"
		value="${APPLICATION_LOG_LEVEL:-DEBUG}" />
	<variable name="DEVTOOLS_LOG_LEVEL"
		value="${DEVTOOLS_LOG_LEVEL:-WARN}" />
	<variable name="ROOT_LOG_LEVEL"
		value="${ROOT_LOG_LEVEL:-INFO}" />

	<appender name="asyncConsoleAppender"
		class="net.logstash.logback.appender.LoggingEventAsyncDisruptorAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>${CONSOLE_APPENDER_FILTER_LEVEL}</level>
		</filter>
		<appender name="console"
			class="ch.qos.logback.core.ConsoleAppender">
			<encoder>
				<pattern>
					%date{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n
				</pattern>
			</encoder>
		</appender>
	</appender>

	<appender name="asyncFileAppender"
		class="net.logstash.logback.appender.LoggingEventAsyncDisruptorAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>${FILE_APPENDER_FILTER_LEVEL}</level>
		</filter>
		<appender
			class="ch.qos.logback.core.rolling.RollingFileAppender">
			<rollingPolicy
				class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<fileNamePattern>
					${ABSOLUTE_PATH}/%d{yyyy-MM-dd,aux}/application-%d{yyyy-MM-dd-HH}.log.gz
				</fileNamePattern>
				<maxHistory>720</maxHistory>
			</rollingPolicy>
			<encoder
				class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
				<providers>
					<timestamp>
						<timeZone>UTC</timeZone>
					</timestamp>
					<pattern>
						<pattern>
							{
							"hostname": "${HOSTNAME}",
							"severity": "%level",
							"service": "${APPLICATION_NAME:-}",
							"trace": "%X{X-B3-TraceId:-}",
							"span": "%X{X-B3-SpanId:-}",
							"parent": "%X{X-B3-ParentSpanId:-}",
							"exportable": "%X{X-Span-Export:-}",
							"pid": "${PID:-}",
							"thread": "%thread",
							"class": "%logger{40}",
							"message": "%message %ex{full}"
							}
						</pattern>
					</pattern>
				</providers>
			</encoder>
		</appender>
	</appender>

	<!-- application -->
	<logger name="com.heytea" level="${APPLICATION_LOG_LEVEL}" />
	<!-- spring boot ConditionEvaluationDeltaLoggingListener 日志 -->
	<logger
		name="org.springframework.boot.devtools.autoconfigure.ConditionEvaluationDeltaLoggingListener"
		level="${DEVTOOLS_LOG_LEVEL}" />

	<root level="${ROOT_LOG_LEVEL}">
		<appender-ref ref="asyncConsoleAppender" />
		<appender-ref ref="asyncFileAppender" />
	</root>

</configuration>
